<nav class="product-filter">
  <h1><b>{{title}}</b></h1>
  <div class="sort">
    <div class="collection-sort">
      <label>Filter by:</label>
      <select (change)="filterCatalogBy($event)" id="filterBy">
        <option *ngFor="let filteringType of filteringTypes" [value]="filteringType.value">{{filteringType.title}}
        </option>
      </select>
    </div>

    <div class="collection-sort">
      <label>Sort by:</label>
      <select (change)="sortCatalogBy($event)" id="sortBy">
        <option *ngFor="let sortingType of sortingTypes" [value]="sortingType.value">{{sortingType.title}}</option>
      </select>
    </div>

  </div>
</nav>

<section class="products">

  <div class="product-card" *ngFor="let product of products">
    <div class="product-image">
      <img [src]=product.image />
    </div>
    <div class="product-info">
      <h5>{{product.title}}</h5>
      <h6>{{product.price}} $</h6>
    </div>
  </div>

</section>