<nav class="product-filter">
  <div class="sort">
    <div class="collection-sort">
      <label>Filter by:</label>
      <select (change)="filterCatalogBy($event)">
        <option *ngFor="let filteringType of filteringTypes" [value]="filteringType">{{filteringType}}
        </option>
      </select>
    </div>

    <div class="collection-sort">
      <label>Sort by:</label>
      <select (change)="sortCatalogBy($event)">
        <option *ngFor="let sortingType of sortingTypes" [value]="sortingType.value">{{sortingType.title}}</option>
      </select>
    </div>

  </div>
</nav>

<app-products [products]="filteredOrSortedProducts"></app-products>